@use "../../partials/variables" as *;
@use "../../partials/mixins" as *;

.Error {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;

  &__heading {
    color: $color_green_dark2;
    font-weight: 500;
    font-size: $font_size-5;


    @include tablet {
      font-size: $font_size-4;
    }

    @include desktop {
      font-size: $font_size-4;
    }
  }
}