@use "./partials/variables" as *;
@use "./partials/mixins" as *;
@use "./partials/resets";
@use "./partials/base";

@mixin container_padding {
  padding: .5rem;
  
  @include mobile_large {
    padding: 1rem;
  }
}

.App {
  display: flex;
  justify-content: center;

  &__container {
    width: 100%;
    max-width: $screen_desktopLarge;
  }

  &__header {
    @include container_padding;

    @include tablet {
      padding-top: 2rem;
    }
  }

  &__logo {
    color: $color_green_dark;
    font-size: $font_size-2;

    @include tablet {
      margin: 1rem;
      font-size: $font_size-1;
    }

    @include desktop {
      font-size: $font_size-0;
    }
  }

  &__main {
    @include container_padding;
  }
}

.Results {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}